    <link rel="stylesheet" href="/assets/css/ita.css">
    
    <meta name="keywords" content="Exastro, Exastro Suite, OSS, IT Automation, OASE, EPOCH">
    <meta name="description" content="{{ page.description }}">
    <meta name="thumbnail" content="{{ commonAssetsUrl }}/assets/img/ogp_twitter_image.jpg">
    <meta property="og:description" content="{{ page.description }}">
    <link rel="image_src" href="{{ commonAssetsUrl }}/assets/img/ogp_image.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ exastroSiteUrl }}/">
    <meta property="og:title" content="Exastro Suite">
    <meta property="og:image" content="{{ commonAssetsUrl }}/assets/img/ogp_image.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Exastro Suite">
    <meta name="twitter:image" content="{{ commonAssetsUrl }}/assets/img/ogp_twitter_image.jpg">